.pizza-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.pizza-card h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.pizza-card p {
  margin: 10px 0;
}

.pizza-card button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 10px;

  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.pizza-card button:hover {
  background-color: #0056b3;
}
